<div class="container">
  <h1>Login to Survey Poodle</h1>

  <form [formGroup]="loginForm">
    <div class="form-group">
      <label for="username">Username: </label>
      <input
        class="form-control"
        type="text"
        name="username"
        id="username"
        placeholder="Enter your username..."
        formControlName="username"
        required
        minlength="3"
      />
    </div>

    <div *ngIf="username.invalid && (username.dirty || username.touched)">
      <p *ngIf="username.errors.required">Username is required!</p>
      <p *ngIf="username.errors.minlength">
        Username should at least be 3 characters!
      </p>
    </div>

    <div class="form-group">
      <label for="password">Password: </label>
      <input
        class="form-control"
        type="password"
        name="password"
        id="password"
        placeholder="Enter your password..."
        formControlName="password"
        required
        minlength="5"
      />
    </div>

    <div *ngIf="password.invalid && (password.dirty || password.touched)">
      <p *ngIf="password.errors.required">Password is required!</p>
      <p *ngIf="password.errors.minlength">
        Password should at least be 5 characters!
      </p>
    </div>
    <br />

    <div class="form-group">
      <button
        class="btn btn-primary btn-lg"
        (click)="onLoginClicked()"
        type="button"
        [disabled]="isLoading || loginForm.invalid"
      >
        Login
      </button>
    </div>
    <br>
    <div *ngIf="loginError" class="alert-danger" role="alert">
      <h4>Something went wrong</h4>
      <p>{{ loginError }}</p>
    </div>
    <div *ngIf="isLoading">
      <p>Attempting to login</p>
    </div>
  </form>
  <br />
  <a routerLink="/register">Create an account. Register now!</a>
</div>
