<div class="card mb-2" (click)="onSurveyItemClicked()">
    <div class="card-body">
        <h4 class="card-title">{{ survey.title }}</h4>
        <small class="card-subtitle">Creator: {{ survey.user.username }}</small>
    <p class="card-text">{{ survey.description }}</p>
    

    </div>
    
</div>